# dependencies
/node_modules
/.npm-cache

# Next.js
/.next
/out

# testing
/coverage

# local files
.DS_Store
*.log
.env
.env.*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
